#mainContent {
	font-family: "Comic Sans MS", sans-serif;
	color: white; 
	font-size: xx-large;
	font-weight: bold;
	background-image: url(kyle_jensen.jpg);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}