@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Forum|Montserrat|Open+Sans|Roboto+Mono|Vollkorn');


#pageContent {
	font-family: 'EB Garamond', serif;
	color: #240a05; 
	padding: 20px;
	margin-right: 160px;
	margin-top: 30px;
	opacity: 0;
	background-color: rgba(241, 236, 230, 0.41);
	border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}



#pageTitle {
	font-family: 'Vollkorn', serif;
	font-size: 42px;
	margin-bottom: -10;
	color: #1a202a; 
	margin-bottom: 10px;
}

#mainTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	font-weight: bold;
	margin-bottom: -10;
	color: #292f35; 
	margin-bottom: 10px;
	text-align: left;
}
.socialMedia {
	opacity: 0;
}

#snapchatInfo {
	background-image: url("snapInfo.png");
	border-radius: 25px;
	width: 280px;
	height: 330px;
	position: static;
	display: none;
	background-size: 280px;
}

#mainContent {
	position: fixed;
	font-family: 'EB Garamond', serif;
	color: #240a05; 
	text-align: right;
	margin-right: 165px;
	z-index: 200;
	opacity: 1;
	bottom: 0;
	right: 0;
}

#firstWord {
	display: inline;
	opacity: 0;
}

#secondWord {
	display: inline;
	opacity: 0;
}

#thirdWord {
	display: inline;
	opacity: 0;
}

.line-separator {
	height:1px;
	width: 50%;
	background:#717171;
	border-bottom:1px solid #313030;
}

#main-separator {
	height:1px;
	width: 50%;
	margin: auto;
	background:#717171;
	border-bottom:1px solid #313030;
}

#color-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #d9d6d2;
   opacity: 0.6;
   z-index: -1;
}

body {
	background-image: url("bg1.jpg");
	background-repeat: no-repeat;
    background-size: 1500px;
    height: 100%;
    background-attachment: fixed;

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px; /* Place content 60px from the top */
    padding-right: 10px;
    background-color: #95acca;
	opacity: 1;
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
	font-family: 'Montserrat', sans-serif;
    color: #2a3549;
    display: block;
    transition: 0.3s
}

#educationContent {
	display: none;
}

#experienceContent {
	display: none;
}

#skillsContent {
	display: none;
}

.contentWrapper {
	margin-top: 20px;
}

.resumeHeading a {
    text-decoration: none;
    font-size: 25px;
	font-family: 'Vollkorn', serif;
    color: #2a3549;
    display: block;
    transition: 0.3s;
    text-decoration: underline
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f5f8fd;
}

.resumeHeading a:hover, .offcanvas a:focus{
    color: #95acca;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.typed-cursor{
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}